*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 2rem; }

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.1;
  color: 'green';
  padding: 0rem;
  box-sizing: border-box; }

.logo-header {
  color: #282828;
  font-size: 2rem;
  font-weight: 200; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem;
    margin-top: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((100% - 2 * 6rem) / 3 * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2*((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3*((100% - 3 * 6rem) / 4) + 2*6rem); }

.navigation__title {
  position: absolute;
  top: 6.5rem;
  left: 10%;
  font-size: 2rem;
  z-index: 100;
  font-weight: 100; }



.navigation__insta {
  font-size: 1.5rem;
  color: #000;
  position: fixed;
  bottom: 4.0rem;
  left: 49%;
  text-align: 'center';
  font-size: 2rem;
  z-index: 100; }
  .navigation__insta::after {
    content: "";
    display: table;
    clear: both; }

.navigation__description {
  position: absolute;
  color: white;
  top: 6.5rem;
  left: 10%;
  font-size: 2rem;
  font-weight: 200;
  z-index: 100; }



.navigation__checkbox {
  position: fixed;
  top: 6.5rem;
  display: none; }

.navigation__button {
  font-size: 1.5rem;
  color: lightgrey;
  position: fixed;
  top: 6.0rem;
  right: 12rem;
  background-color: black;
  z-index: 102;
  border-radius: 50%;
  border:1px solid lightgrey;
  height: 3rem;
  width: 3rem;
  cursor:pointer;
  -webkit-touch-callout: none;
  user-select: none;
  text-align: 'center'; }
  .navigation__button:hover {
    background-color: white; }


.navigation__background {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 6.5rem;
  right: 10rem;
  z-index: 100;
  transform: translate(0%, -40%);
  transition: transform .01s; }

.navigation__nav {
  /* background-color: blue; */
  background-image: url(../img/fog.png);
  background-size:cover;
  background-position: center;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  width: 0;
  opacity: 0; }

  .image{
    height:100vh;
    background-size:cover;
    background-position: center;
  }

.navigation__list {
  text-decoration: none;
  list-style: none;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.credit{
  position:absolute;
  bottom: 2rem;
  left: 10%;
  max-width:100rem;
  color:white;
  font-family: "Helvetica", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

.navigation__link:link, .navigation__linkvisited {
  font-size: 3rem;
  color: #0029FF;
  padding: 0rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  background-size: 200%;
  transition: all .5s; }

.navigation__link:hover {
  text-decoration: underline; }

.navigation__link:active {
  background-color: red; }

.navigation__item {
  width: 15rem;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 100;
  list-style-type: none;
  color: white;
  cursor: pointer; }
  .navigation__item:hover {
    text-decoration: underline; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__button:hover .navigation__icon {
  color: #000; }

.navigation__button:hover .navigation__icon-close {
  color: #000; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  display: none; }

.navigation__checkbox:checked + .navigation__button .navigation__icon-close {
  display: inline; }

#map {
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0%;
  bottom: 0%; }

.mapboxgl-popup-content {
 border-radius: 1rem;
  width: 30rem;
  height:20rem;
}

.mapboxgl-popup-close-button {
  background-color: lightgrey;
  padding:2px 4px 2px 4px;
  border-radius: 50%;
  display: block;
  position:fixed;
  top:1rem;
  right:1rem;
  color:red;
}
