.header{
  height:100vh;
  // background-image: linear-gradient(
  // to right bottom,
  // rgba($color-primary-light, 0.5),
  // rgba($color-dark-grey, 0.5)),
  // url(../img/project0/image6.png);
  background-size: cover;
  background-position: top;
  position: relative;
  // clip-path:polygon(0 0, 100% 0, 100% 75vh,0 100%);
  &__logo-box{
    position: absolute;
    top:3rem;
    left:10%;
  }
  &__logo{
    height:6.5rem;
  }
  &__logo:hover{
    animation-name: moveInLeft;
    animation-duration: 3s;
  }
  &__text-box{
    position: absolute;
    top:15%;
    left:10%;
    // transform:translate(-50%, -50%);
    text-align: left;
  }
  &__project-box{
    margin-left: 10rem;
    width:70vw;
    // transform:translate(-50%, -50%);
    text-align: left;
  }
}
