.navigation{

  &__title{
    position:absolute;
    // background-color: white;
    top:6.5rem;
    left:10rem;
    font-size:2rem;
    z-index: 100;
  };

  &__checkbox{
    position:fixed;
    top:6.5rem;
    display:none;
  };
  &__button{
    font-size: 1.5rem;
    color:$color-white;
    position:fixed;
    top:3.9rem;
    right:10rem;
    background-color: red;
    z-index: 102;
    border-radius: 50%;
    height:6.5rem;
    width:6.5rem;
    -webkit-touch-callout: none;
     user-select: none;
    text-align: center;
  };
  &__icon{
    font-size: 1.5rem;
    color:$color-white;
    position:absolute;
    top:2.2rem;
    left:2.2rem;

    &-close{
      font-size: 1.5rem;
      color:$color-white;
      position:absolute;
      top:2.2rem;
      left:1.7rem;
      display:none;
    }
  };


  &__background{
    height:6.5rem;
    width:6.5rem;
    border-radius: 50%;
    background-color: #0029FF;
    position:fixed;
    top:6.5rem;
    right:10rem;
    z-index: 100;
    transform:translate(0%, -40%);
    transition: transform .01s;

  }
  &__nav{
    height:100vh;
    position:fixed;
    top:0;
    right:0;
    z-index: 101;

    width:0;
    opacity:0;

  }
  &__list{
    text-decoration: none;
    list-style: none;
    text-align:center;
    @include horizontalVertical;

  }

  &__link{
    &:link,
    &visited{
      font-size:3rem;
      color:$color-blue;
      padding: 0rem 1rem;
      text-decoration: none;
      text-transform: uppercase;
      background-color: white;
      // background-image: linear-gradient(90deg,orangered 0%,orangered 50%, $color-white 50%);
      background-size: 200%;
      transition: all .5s;
    }
    &:hover
    {
      // font-size:4rem;
      text-decoration: underline;
      // background-position: 100%;
    }
    &:active{
        background-color: red;
    }
  }



  &__item{
    padding:1rem;
  }

  &__checkbox:checked ~ &__background{
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav{
    width:100%;
    opacity:1;
  }
  &__button:hover &__icon {
    left:2.2rem;
  }


  &__checkbox:checked + &__button &__icon{
    display:none;
  }
  &__checkbox:checked + &__button &__icon-close{
    display:inline;
  }





}
