.u-center-text{
  text-align: center;
}


.u-margin-bottom-big{
  margin-bottom:8rem;

}

.u-margin-bottom-medium{
  margin-bottom:4rem;

}

.u-margin-bottom-small{
  margin-bottom:1.5rem;
}

.overlay{
  width:$grid-width;
  height:100%;
}

.link{
  background-color:#0029FF;
  text-decoration:none;
  color:$color-white;
}
.link:hover{
  // text-decoration:underline;
}

.end{
  padding:4rem;
  color:white;
  background-color: #0029FF
  text-align: center;
}
