.section-about{
  background-color:$color-grey-light-1;
  padding:25rem 0;
  // margin-top: -20vh;
}

.section-project{
  background-color:$color-white;
  padding:0rem 0;
  // margin-top: -20vh;
}

.work-image{
  width:100%;
}
.work-image-title{

  width:80%;
  position:relative;

}

.work-image-gif{
  width:70%;
}

.section-open{
  text-align: center;
  z-index: 1
}

.input{
    width:20rem;
    height:2rem;
    font-size:70%;
    margin: 0 auto;
     border: none; /* <-- This thing here */
     border:solid 1px #ccc;
     border-radius: 10px;
     text-align:center;

}
textarea:focus, input:focus{
    outline: none;
}
